@model Models.Inventory

@{
    ViewData["Title"] = "Create";

}

<h1>@ViewBag.Store.StoreName</h1>


<h4>Add Inventory</h4>
<p>@ViewBag.Store.StoreStreet, @ViewBag.Store.StoreCity</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="InvStoreID"  asp-route-Storeid="@Model.InvStoreID" type="hidden" class="form-control" />

            <div class="form-group">
                <label asp-for="InvProductID" class="control-label"></label>
                <input asp-for="InvProductID" class="form-control" />
                <span asp-validation-for="InvProductID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

