@model Models.Customer

@{
    ViewData["Title"] = "Logout";

}



<h3>Are you sure you want to Log out?</h3>
<div>
    <h4></h4>
    <hr />
   
    
    <form asp-action="Logout">
        <div>

            <input type="submit" value="Logout" class="btn-outline-danger" /> |
            <a asp-action="Index">Continue Shopping</a>
            </div>
    </form>
</div>
